@import 'tailwindcss';
@import './style.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    .content {
        @apply text-slate-700 leading-relaxed;
    }

    .content h1 {
        @apply text-3xl font-bold mb-4;
    }

    .content h2 {
        @apply text-2xl font-semibold mb-3;
    }

    .content h3 {
        @apply text-xl font-semibold mb-3;
    }

    .content p {
        @apply mb-4 font-normal;
    }

    .content a {
        @apply break-all text-emerald-500 underline hover:text-emerald-600;
    }

    .content ul {
        @apply list-disc pl-5 mb-4;
    }

    .content ol {
        @apply list-decimal pl-5 mb-4;
    }
}
